$body-bg: #e8e8e8;
$font-family: 'roboto', sans-serif;
$keyboard-width: 980px;

$output-border: #e2e3e3;
$output-shadow: #2e2e2e;

$notes-color: #4a4a4a;

$btn-borer-color: #fff;
$btn-shadow: #bdbdbd;
$btn-bg: #fcfcfc;
$btn-color: #434343;

$btn-bg-hover: #7d7d7d;
$btn-shadow-hover: #4a4a4a;
$btn-color-hover: #ebebeb;
$btn-borer-color-hover: #7d7977;

$btn-bg-active: #4A4A4A;
$btn-color-active: #E3E3E3;
$btn-borer-color-active: #43474A;

$btn-alt-bg: #cecfd3;
$btn-alt-color: #151716;
$btn-alt-borer-color: #e2e3e3;
